In [25]:
import csv
import json
import re
import pandas as pd
import numpy as np
import time
import os
import random
import http.client
from datetime import datetime
from collections import Counter
from SPARQLWrapper import SPARQLWrapper, JSON
from SPARQLWrapper.SPARQLExceptions import QueryBadFormed, EndPointInternalError, EndPointNotFound, Unauthorized, URITooLong, SPARQLWrapperException
from urllib.error import HTTPError

In [10]:
sparql_query_cache = dict()

In [26]:
def convert_date_string(date_string):
    pattern = r"^(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})Z$"
    match = re.match(pattern, date_string)
    if match:
        year, month, day, hour, minute, second = match.groups()
        date = datetime(int(year), int(month), int(day))
        month_name = date.strftime("%B")
        new_date_string = f"{day} {month_name} {year}"
        return new_date_string
    else:
        return None

def get_splits(triples, splits = [0.4, 0.3, 0.3]):
    triples = np.array(triples)
    indices = np.random.permutation(triples.shape[0])
    train_count = int(triples.shape[0] * splits[0])
    val_count = int(triples.shape[0] * splits[1])
    test_count = triples.shape[0] - train_count - val_count
    train_triples = triples[indices[:train_count]]
    val_triples = triples[indices[train_count:train_count+val_count]]
    test_triples = triples[indices[train_count+val_count:]]
    return train_triples.tolist(), val_triples.tolist(), test_triples.tolist()

def save_triples(onto_id, train_all, val_all, test_all):
    # Define base paths for different directories
    base_paths = {
        'train': "../../data/wikidata_tekgen/train",
        'validation': "../../data/wikidata_tekgen/validation",
        'ground_truth': "../../data/wikidata_tekgen/ground_truth",
        'test': "../../data/wikidata_tekgen/test"
    }
    
    # Ensure all required directories exist
    for path in base_paths.values():
        ensure_directory_exists(path)
    
    # Save train data
    with open(f"{base_paths['train']}/{onto_id}_train.jsonl", "w") as out_file:
        for idx, tr in enumerate(train_all):
            data = {"id": f"{onto_id}_train_{idx+1}", "sub_label": tr[0], "rel_label": tr[1], "obj_label": tr[2], 
                   "sent": tr[6], "sub": tr[3], "rel": tr[4], "obj": tr[5]}
            out_file.write(f"{json.dumps(data)}\n")
    
    # Save validation data        
    with open(f"{base_paths['validation']}/{onto_id}_validation.jsonl", "w") as out_file:
        for idx, tr in enumerate(val_all):
            data = {"id": f"{onto_id}_val_{idx+1}", "sub_label": tr[0], "rel_label": tr[1], "obj_label": tr[2], 
                   "sent": tr[6], "sub": tr[3], "rel": tr[4], "obj": tr[5]}
            out_file.write(f"{json.dumps(data)}\n")

    ''' # Not extracted correctly, eval code from original repository requires different format, ground truth in original repository also different format
    # Save ground truth data        
    with open(f"{base_paths['ground_truth']}/{onto_id}_ground_truth.jsonl", "w") as out_file:
        for idx, tr in enumerate(test_all):
            data = {"id": f"{onto_id}_test_{idx+1}", "sub_label": tr[0], "rel_label": tr[1], "obj_label": tr[2], 
                   "sent": tr[6], "sub": tr[3], "rel": tr[4], "obj": tr[5]}
            out_file.write(f"{json.dumps(data)}\n")
    '''

    # Save ground truth data        
    with open(f"{base_paths['ground_truth']}/{onto_id}_ground_truth.jsonl", "w") as out_file:
        for idx, tr in enumerate(test_all):
            triples = [{"sub": tr[0], "rel": tr[1], "obj": tr[2]}]
            data = {"id": f"{onto_id}_test_{idx+1}", "sent": tr[6], "triples": triples}
            out_file.write(f"{json.dumps(data)}\n")

    # Save test data        
    with open(f"{base_paths['test']}/{onto_id}_test.jsonl", "w") as out_file:
        for idx, tr in enumerate(test_all):
            data = {"id": f"{onto_id}_test_{idx+1}", "sent": tr[6]}
            out_file.write(f"{json.dumps(data)}\n")

def get_triples_with_sentences(relation_pid: str, relation_label: str, rel_domain: str, rel_range: str,
                               limit: int = 200, max_retries: int = 10):
    assert relation_pid, "relation id can't be empty"
    assert rel_domain, "domain can't be empty"

    current_limit = 10000  # Start with a high limit for SPARQL query
    retries = 0
    # Set the User-Agent according to Wikidata's policy
    user_agent = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11'

    while retries < max_retries:
        try:
            # Build the SPARQL query
            sparql = SPARQLWrapper("https://query.wikidata.org/sparql", agent=user_agent)
            query = "PREFIX wdt: <http://www.wikidata.org/prop/direct/> \n PREFIX wd: <http://www.wikidata.org/entity/> \n"
            query += "SELECT DISTINCT ?sub ?subEntity ?objEntity ?objLabel { \n ?subEntity wdt:P31/wdt:P279* wd:" + rel_domain + " . \n"
            query += '?subEntity rdfs:label ?sub . FILTER (lang(?sub) = "en") \n '
            query += '?subEntity wdt:' + relation_pid + ' ?objEntity . \n'
            if rel_range and rel_range != "":
                query += '?objEntity wdt:P31*/wdt:P279* wd:' + rel_range + ' . \n '
            query += 'OPTIONAL { ?objEntity rdfs:label ?objLabel . FILTER (lang(?objLabel) = "en") } \n } '
            # Set the dynamic LIMIT
            query += f"LIMIT {current_limit}"
            if show_query:
                print(query)

            if query in sparql_query_cache:
                # Use cached results if available
                triples = sparql_query_cache[query]
            else:
                # Execute the query and get a set of triples
                triples = list()
                subject_counter, object_counter = Counter(), Counter()
                secondary_triples = list()
                sparql.setQuery(query)
                sparql.setReturnFormat(JSON)
                sparql.setTimeout(300)  # Set timeout to 5 minutes
                sparql.setMethod('POST')

                # Set the User-Agent
                sparql.agent = user_agent

                # Attempt to execute the query
                response = sparql.query()
                results = response.convert()

                print(f'  {len(results["results"]["bindings"])} SPARQL results.')
                for result in results["results"]["bindings"]:
                    t_subject = result['sub']['value']
                    if 'objLabel' in result:
                        t_object = result['objLabel']['value']
                        t_object_id = result['objEntity']['value'].replace("http://www.wikidata.org/entity/", "")
                    else:
                        t_object = result['objEntity']['value']
                        date_string = convert_date_string(t_object)
                        if date_string:
                            t_object = date_string
                        t_object_id = None
                    t_subject_id = result['subEntity']['value'].replace("http://www.wikidata.org/entity/", "")
                    triple = [t_subject, relation_label, t_object, t_subject_id, relation_pid, t_object_id]
                    # To get a diverse dataset, ignore subject/object if they occur more than 10% of the limit
                    subject_counter[t_subject] += 1
                    object_counter[t_object] += 1
                    if subject_counter[t_subject] > (limit / 10) or object_counter[t_object] > (limit / 10):
                        secondary_triples.append(triple)
                        continue
                    triples.append(triple)

                # Append secondary triples
                triples += secondary_triples
                sparql_query_cache[query] = triples

            print(f"  collected {len(triples)} triples")
            if show_sample:
                print(f"  sample:")
                for tr in triples[:5]:
                    print(f"    {tr[:3]}")

            triples_with_sentences = list()
            for tr in triples:
                search_key = create_key(tr[0], tr[1], tr[2])
                if search_key in sent_index:
                    sentence = sent_index[search_key]
                else:
                    continue
                tr.append(sentence)
                triples_with_sentences.append(tr)

                # Stop at the desired limit
                if len(triples_with_sentences) >= limit:
                    break

            # If successful, return the collected triples with sentences
            return triples_with_sentences

        except SPARQLWrapperException as e:
            retries += 1
            code = None
            reason = str(e)

            # Try to parse the HTTP status code from the exception message
            match = re.search(r'status code (\d+)', reason, re.IGNORECASE)
            if match:
                code = int(match.group(1))

            if code == 429:
                # HTTP 429: Too Many Requests
                retry_after = '60'  # Default wait time
                wait_time = int(retry_after)
                print(f"HTTP 429 error encountered. Waiting for {wait_time} seconds before retrying ({retries}/{max_retries})...")
                time.sleep(wait_time)
            elif code == 500:
                print(f"HTTP 500 error encountered on attempt {retries}/{max_retries}. Reducing LIMIT and retrying...")
                current_limit = max(10, current_limit // 2)
                #time.sleep(5)
            else:
                print(f"HTTP error {code} encountered: {reason}. Retrying attempt {retries}/{max_retries} after short wait...")
                time.sleep(5)
        except (http.client.IncompleteRead, json.JSONDecodeError) as e:
            retries += 1
            print(f"An error occurred: {e}. Retrying attempt {retries}/{max_retries} after short wait...")
            # Reduce the LIMIT and retry
            current_limit = max(10, current_limit // 2)
            print(f"Reducing LIMIT to {current_limit} and retrying...")
            #time.sleep(5)
        except Exception as e:
            retries += 1
            print(f"An error occurred: {e}. Retrying attempt {retries}/{max_retries} after short wait...")
            #time.sleep(5)

    print("Max retries reached. Skipping this relation.")
    return []

def create_key(sub_label, rel_label, obj_label):
    # remove spaces and make lower case
    sub_label = re.sub(r"\s+", '', sub_label).lower()
    rel_label = re.sub(r"\s+", '', rel_label).lower()
    obj_label = re.sub(r"\s+", '', obj_label).lower()
    # concatanate them 
    tr_key = f"{sub_label}{rel_label}{obj_label}"
    return tr_key

def ensure_directory_exists(path):
    if not os.path.exists(path):
        os.makedirs(path)

In [4]:
# Load the TekGen corpus
sent_index = dict()
start_time = time.time()
print("TekGen corpus processing started!")
with open('../../tekgen.csv') as csv_in_file:
    sent_reader = csv.reader(csv_in_file)
    next(sent_reader)
    for row in sent_reader:
        tr_key = create_key(row[0], row[1], row[2])
        sent = row[4]
        sent_index[tr_key] = sent
        elapsed_time = (time.time()-start_time)/60
    print(f"\ttriple-to-sent index with {len(sent_index)} triples loaded in {elapsed_time:.2f} mins!")

TekGen corpus processing started!
	triple-to-sent index with 11358950 triples loaded in 2.20 mins!

In [27]:
# Update base path to use existing ontology directory
base_path = '../../data/wikidata_tekgen/ontologies'

# Check if directory exists, if not create it
if not os.path.exists(base_path):
    os.makedirs(base_path)
    error_message = """
ERROR: Ontology files not found!
Please copy the original ontology files from the Text2KGBench repository
""".format(base_path)
    raise FileNotFoundError(error_message)

# Check if directory is empty or missing ontology files
ontology_files = [f for f in os.listdir(base_path) if f.endswith('_ontology.json')]
if not ontology_files:
    error_message = """
ERROR: Ontology files not found!
Please copy the original ontology files from the Text2KGBench repository
""".format(base_path)
    raise FileNotFoundError(error_message)

# Load existing ontologies
ontologies = []
for filename in os.listdir(base_path):
    if filename.endswith('_ontology.json'):
        with open(os.path.join(base_path, filename)) as in_file:
            ontologies.append(json.load(in_file))
show_sample = True
show_query = False

for onto in ontologies:
    print(f"Ontology: {onto['title']} ({onto['id']})")
    onto_id = onto['id']
    train_all, val_all, test_all = [], [],[]
    for rel in onto['relations']:
        print(f"\nprocessing \"{rel['label']}\" ({rel['pid']}) relation:")
        start_time = time.time()
        triples_with_sentences = get_triples_with_sentences(rel['pid'], rel['label'], rel['domain'], rel['range'], 200)
        elapsed_time = (time.time()-start_time)
        print(f"    {len(triples_with_sentences)} triples with sentences in {elapsed_time:.2f} seconds!")
        train, val, test = get_splits(triples_with_sentences)
        train_all += train
        val_all += val
        test_all += test
    save_triples(onto_id, train_all, val_all, test_all)

Ontology: Culture Ontology (ont_10_culture)

processing "ethnic group" (P172) relation:
  collected 10000 triples
  sample:
    ['Mohd Noh Rajab', 'ethnic group', 'Malays']
    ['Yusril Ihza Mahendra', 'ethnic group', 'Malays']
    ['Lucas Fernandez de Piedrahita', 'ethnic group', 'Quechua people']
    ['Eva Copa', 'ethnic group', 'Aymara']
    ['Aru Apaza', 'ethnic group', 'Aymara']
    70 triples with sentences in 0.08 seconds!

processing "religious order" (P611) relation:
  collected 0 triples
  sample:
    0 triples with sentences in 0.00 seconds!

processing "languages spoken, written or signed" (P1412) relation:
  collected 10000 triples
  sample:
    ['Chang Chih-Chia', 'languages spoken, written or signed', 'Standard Taiwanese Mandarin']
    ['Ang Ui-jin', 'languages spoken, written or signed', 'Standard Taiwanese Mandarin']
    ['Tsai Pei-huo', 'languages spoken, written or signed', 'Standard Taiwanese Mandarin']
    ['Wang Chien-shien', 'languages spoken, written or signed', 'Standard Taiwanese Mandarin']
    ['Wu Chih-chung', 'languages spoken, written or signed', 'Standard Taiwanese Mandarin']
    184 triples with sentences in 0.07 seconds!

processing "inception" (P571) relation:
  collected 334 triples
  sample:
    ['International Exhibition of Nothing', 'inception', '13 July 2015']
    ['The Young God Ebisu (Waka ebisu)', 'inception', '01 January 1789']
    ['Gifts from the Ebb Tide (Shiohi no tsuto)', 'inception', '01 January 1789']
    ['Il giornalino della Domenica', 'inception', '01 January 1906']
    ['The Discovery of America', 'inception', '01 January 1781']
    3 triples with sentences in 0.00 seconds!

processing "start time" (P580) relation:
  collected 618 triples
  sample:
    ['Madrid International Film Festival', 'start time', '01 January 1997']
    ['José Francisco Rosado Short Film Festival', 'start time', '01 January 1997']
    ['Saix International Film Festival', 'start time', '01 January 2006']
    ['Calgary Folk Music Festival 2023', 'start time', '27 July 2023']
    ['Calgary Folk Music Festival 2024', 'start time', '25 July 2024']
    14 triples with sentences in 0.01 seconds!

processing "dedicated to" (P825) relation:
  collected 17 triples
  sample:
    ['Agustín Rodríguez Sahagún', 'dedicated to', 'Agustín Rodríguez Sahagún']
    ['Pianta di Roma (Pérac-Lafréry)', 'dedicated to', 'Henry III of France']
    ['Essex, actually surveyed, with the several Roads from London...', 'dedicated to', 'Arthur Capell, 1st Earl of Essex']
    ['2551913', 'dedicated to', 'Jean Jaurès']
    ['Hommage à Arago', 'dedicated to', 'François Arago']
    0 triples with sentences in 0.00 seconds!

processing "iconographic symbol" (P4185) relation:
HTTP 500 error encountered on attempt 1/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 2/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 3/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 4/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 5/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 6/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 7/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 8/10. Reducing LIMIT and retrying...
  collected 39 triples
  sample:
    ['Philomena', 'iconographic symbol', "martyr's palm"]
    ['Paul the Apostle', 'iconographic symbol', 'elephant ivory']
    ['Paul the Apostle', 'iconographic symbol', 'sword']
    ['Agatha of Sicily', 'iconographic symbol', "martyr's palm"]
    ['Linus', 'iconographic symbol', 'religious habit']
    2 triples with sentences in 483.27 seconds!

processing "indigenous to" (P2341) relation:
  collected 7 triples
  sample:
    ['Ntukpo Dance', 'indigenous to', 'Igbo people']
    ['Odegelu Dance', 'indigenous to', 'Igbo people']
    ['Dance de Yebra de Basa', 'indigenous to', 'Yebra de Basa']
    ['Dance de San Lorenzo', 'indigenous to', 'Huesca']
    ['Igede and Igba-Udugongo.', 'indigenous to', 'Igbo people']
    0 triples with sentences in 0.00 seconds!
Ontology: Military Ontology (ont_5_military)

processing "military rank" (P410) relation:
  collected 10000 triples
  sample:
    ['Wilhelm Helten', 'military rank', 'Sturmscharführer']
    ['Alexander Kolchak', 'military rank', 'admiral']
    ['Zhou Yu', 'military rank', 'admiral']
    ['Gaspard II de Coligny', 'military rank', 'admiral']
    ['Franz Podezin', 'military rank', 'Sturmscharführer']
    200 triples with sentences in 0.04 seconds!

processing "military branch" (P241) relation:
  collected 10000 triples
  sample:
    ['George Orwell', 'military branch', 'International Brigades']
    ['Marcel Doret', 'military branch', 'French Air Force']
    ['Simón Radowitzky', 'military branch', 'International Brigades']
    ['Erwin Rommel', 'military branch', 'Imperial German Army']
    ['James Cook', 'military branch', 'Royal Navy']
    200 triples with sentences in 0.02 seconds!

processing "military casualty classification " (P1347) relation:
  collected 6215 triples
  sample:
    ['Paul Bunker', 'military casualty classification ', 'prisoner of war']
    ['Pyotr Gavrilov', 'military casualty classification ', 'prisoner of war']
    ['Ernst Hartmann', 'military casualty classification ', 'prisoner of war']
    ['Hajo Rose', 'military casualty classification ', 'prisoner of war']
    ['Fritz Fabricius', 'military casualty classification ', 'prisoner of war']
    200 triples with sentences in 0.05 seconds!

processing "designed by" (P287) relation:
HTTP 500 error encountered on attempt 1/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 2/10. Reducing LIMIT and retrying...
  collected 100 triples
  sample:
    ['8.35 cm PL kanon vz. 22', 'designed by', 'Škoda Works']
    ['Ehrhardt 7.5 cm Model 1904', 'designed by', 'Rheinmetall AG']
    ['28 cm K L/40 "Kurfürst"', 'designed by', 'Krupp']
    ['17 cm Kanone (E)', 'designed by', 'Krupp']
    ['15 cm hrubá houfnice vz. 25', 'designed by', 'Škoda Works']
    7 triples with sentences in 120.90 seconds!

processing "designed by" (P287) relation:
  collected 4 triples
  sample:
    ['Pindad Komodo', 'designed by', 'Pindad']
    ['M3 Bradley', 'designed by', 'FMC Corporation']
    ['ASLAV', 'designed by', 'Mowag']
    ['Puma armored engineering vehicle', 'designed by', 'Israel Military Industries']
    0 triples with sentences in 0.00 seconds!

processing "commanded by" (P4791) relation:
  collected 337 triples
  sample:
    ['Marineamt', 'commanded by', 'Albrecht Obermaier']
    ['Army Office', 'commanded by', 'Horst Wenner']
    ['Naval Medical Institute', 'commanded by', 'Armin Wandel']
    ['Marineamt', 'commanded by', 'Jürgen Geier']
    ['Army Office', 'commanded by', 'Hellmuth Mäder']
    0 triples with sentences in 0.00 seconds!

processing "next higher rank" (P3730) relation:
  collected 447 triples
  sample:
    ['Seekadett', 'next higher rank', 'http://www.wikidata.org/entity/Q131354754']
    ['SS-Brigadeführer', 'next higher rank', 'SS-Gruppenführer']
    ['Fähnrich', 'next higher rank', 'Oberfähnrich']
    ['Sturmscharführer', 'next higher rank', 'Untersturmführer']
    ['Oberst', 'next higher rank', 'generalmajor']
    7 triples with sentences in 0.00 seconds!

processing "designated as terrorist by" (P3461) relation:
  collected 234 triples
  sample:
    ['Babbar Khalsa', 'designated as terrorist by', 'India']
    ['Continuity Irish Republican Army', 'designated as terrorist by', 'New Zealand']
    ["People's Mojahedin Organization of Iran", 'designated as terrorist by', 'Iran']
    ['Harkat-ul-Mujahideen', 'designated as terrorist by', 'Bahrain']
    ['Harkat-ul-Mujahideen', 'designated as terrorist by', 'India']
    24 triples with sentences in 0.00 seconds!

processing "wing configuration" (P1654) relation:
  collected 117 triples
  sample:
    ['Heinkel HD 27', 'wing configuration', 'biplane']
    ['Focke-Wulf A 7', 'wing configuration', 'mid-wing aircraft']
    ['BOK-5', 'wing configuration', 'low wing']
    ['Friedrichshafen FF.34', 'wing configuration', 'biplane']
    ['Aichi AB-6', 'wing configuration', 'biplane']
    4 triples with sentences in 0.00 seconds!
Ontology: Book Ontology (ont_4_book)

processing "illustrator" (P110) relation:
An error occurred: Expecting ',' delimiter: line 81566 column 8 (char 2063482). Retrying attempt 1/10 after short wait...
Reducing LIMIT to 5000 and retrying...
An error occurred: Expecting property name enclosed in double quotes: line 90782 column 4 (char 2300946). Retrying attempt 2/10 after short wait...
Reducing LIMIT to 2500 and retrying...
  2500 SPARQL results.
  collected 2500 triples
  sample:
    ['House of Mystery', 'illustrator', 'Tony Akins']
    ['Hellblazer', 'illustrator', 'John Ridgway']
    ['Thorgal', 'illustrator', 'Fred Vignaux']
    ['Rocket Girl', 'illustrator', 'Amy Reeder Hadley']
    ['Ipurbeltz', 'illustrator', 'Dani Fano']
    200 triples with sentences in 151.49 seconds!

processing "followed by" (P156) relation:
An error occurred: Expecting ',' delimiter: line 11099 column 2 (char 311183). Retrying attempt 1/10 after short wait...
Reducing LIMIT to 5000 and retrying...
An error occurred: Invalid control character at: line 12773 column 88 (char 352222). Retrying attempt 2/10 after short wait...
Reducing LIMIT to 2500 and retrying...
An error occurred: Invalid control character at: line 11133 column 85 (char 311267). Retrying attempt 3/10 after short wait...
Reducing LIMIT to 1250 and retrying...
An error occurred: IncompleteRead(0 bytes read). Retrying attempt 4/10 after short wait...
Reducing LIMIT to 625 and retrying...
  625 SPARQL results.
  collected 625 triples
  sample:
    ['Evangelium Vitae', 'followed by', 'Ut Unum Sint']
    ['Custodi di quella fede', 'followed by', 'http://www.wikidata.org/entity/Q345640']
    ['Weimar Constitution', 'followed by', 'Constitution of the German Democratic Republic (1949)']
    ['Graves de Communi Re', 'followed by', 'http://www.wikidata.org/entity/Q643261']
    ['Laborem Exercens', 'followed by', 'Slavorum Apostoli']
    27 triples with sentences in 291.26 seconds!

processing "publication date" (P577) relation:
  10000 SPARQL results.
  collected 10000 triples
  sample:
    ['Kyokuhoku Rhapsody', 'publication date', '01 December 2011']
    ['Berkeley Physics Course', 'publication date', '01 January 1965']
    ['Of birds and beasts', 'publication date', '01 May 1935']
    ['Of birds and beasts', 'publication date', '01 January 1933']
    ['Economics', 'publication date', '01 January 1948']
    87 triples with sentences in 2.09 seconds!

processing "author" (P50) relation:
  10000 SPARQL results.
  collected 10000 triples
  sample:
    ['Tokyo Tower', 'author', 'http://www.wikidata.org/entity/Q447073']
    ['Chinese short short story: Chinese language textbook for Japanese', 'author', 'Jing Liu']
    ['The children of 200 years', 'author', 'Kenzaburō Ōe']
    ['Four Atlases of Myology by Van Horne and Sagemolen', 'author', 'Isabelle Bonnard']
    ['Violent Cases', 'author', 'Neil Gaiman']
    200 triples with sentences in 42.35 seconds!

processing "publisher" (P123) relation:
  10000 SPARQL results.
  collected 10000 triples
  sample:
    ['On Gender, Labor, and Inequality', 'publisher', 'University of Illinois Press']
    ['Actes de Pierre de Dreux, duc de Bretagne (1213-1237)', 'publisher', 'Presses Universitaires de Rennes']
    ['Rettssoga, Vol. I', 'publisher', 'Universitetsforlaget']
    ['Heligoland, Past and Present', 'publisher', 'Lulu Press, Inc.']
    ['Affective Materialities: Reorienting the Body in Modernist Literature', 'publisher', 'University Press of Florida']
    150 triples with sentences in 13.47 seconds!

processing "characters" (P674) relation:
  10000 SPARQL results.
  collected 10000 triples
  sample:
    ['X-Men #6', 'characters', 'Beast']
    ['X-Men #15', 'characters', 'Beast']
    ['X-Men #19', 'characters', 'Beast']
    ['X-Men #31', 'characters', 'Iron Man']
    ['X-Men #58', 'characters', 'Beast']
    102 triples with sentences in 40.50 seconds!

processing "editor" (P98) relation:
  4074 SPARQL results.
  collected 4074 triples
  sample:
    ['Journal of Statistical Physics', 'editor', 'Joel Lebowitz']
    ['The Journal of Legislative Studies', 'editor', 'Philip Norton, Baron Norton of Louth']
    ['Les Guêpes', 'editor', 'Jean-Baptiste Alphonse Karr']
    ["Bulletin of the British Ornithologists' Club", 'editor', 'Percy Lowe']
    ['Positif', 'editor', 'Michel Ciment']
    200 triples with sentences in 32.82 seconds!

processing "place of publication" (P291) relation:
An error occurred: Invalid control character at: line 7322 column 90 (char 188290). Retrying attempt 1/10 after short wait...
Reducing LIMIT to 5000 and retrying...
An error occurred: Invalid control character at: line 17022 column 95 (char 433777). Retrying attempt 2/10 after short wait...
Reducing LIMIT to 2500 and retrying...
An error occurred: IncompleteRead(0 bytes read). Retrying attempt 3/10 after short wait...
Reducing LIMIT to 1250 and retrying...
An error occurred: Invalid control character at: line 11238 column 109 (char 286427). Retrying attempt 4/10 after short wait...
Reducing LIMIT to 625 and retrying...
  625 SPARQL results.
  collected 625 triples
  sample:
    ['Max Liebermann: des Meisters Gemälde in 304 Abbildungen', 'place of publication', 'Stuttgart']
    ['Die Ammerseebahn', 'place of publication', 'Stuttgart']
    ['100 Jahre Eisenbahn Landshut – Vilsbiburg – Neumarkt-St. Veit', 'place of publication', 'Vilsbiburg']
    ['Hebrew and Aramaic Lexicon of the Old Testament', 'place of publication', 'Cologne']
    ['Die Hauptbahn München–Simbach und ihre Zweigbahnen', 'place of publication', 'Egglham']
    3 triples with sentences in 293.62 seconds!

processing "narrative location" (P840) relation:
An error occurred: IncompleteRead(0 bytes read). Retrying attempt 1/10 after short wait...
Reducing LIMIT to 5000 and retrying...
An error occurred: Expecting ',' delimiter: line 1644 column 2 (char 40956). Retrying attempt 2/10 after short wait...
Reducing LIMIT to 2500 and retrying...
An error occurred: Expecting property name enclosed in double quotes: line 9227 column 3 (char 229350). Retrying attempt 3/10 after short wait...
Reducing LIMIT to 1250 and retrying...
An error occurred: Expecting value: line 9213 column 17 (char 229342). Retrying attempt 4/10 after short wait...
Reducing LIMIT to 625 and retrying...
An error occurred: Invalid control character at: line 1636 column 89 (char 41027). Retrying attempt 5/10 after short wait...
Reducing LIMIT to 312 and retrying...
An error occurred: Expecting property name enclosed in double quotes: line 1636 column 2 (char 40953). Retrying attempt 6/10 after short wait...
Reducing LIMIT to 156 and retrying...
  156 SPARQL results.
  collected 156 triples
  sample:
    ['La Belle Province', 'narrative location', 'Contrecœur']
    ['Maus', 'narrative location', 'United States of America']
    ['Teenage Mutant Ninja Turtles Meet the Conservation Corps', 'narrative location', 'Amazon rainforest']
    ['Maus', 'narrative location', 'Sosnowiec Ghetto']
    ['Tintin in the Land of the Soviets', 'narrative location', 'Soviet Union']
    5 triples with sentences in 389.96 seconds!

processing "genre" (P136) relation:
HTTP 500 error encountered on attempt 1/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 2/10. Reducing LIMIT and retrying...
  2500 SPARQL results.
  collected 2500 triples
  sample:
    ['Nothing Lasts Forever', 'genre', 'thriller novel']
    ['Lover', 'genre', 'lesbian literature']
    ['Thou Art the Man', 'genre', 'sensation fiction']
    ['Breed of the Wolf', 'genre', 'thriller novel']
    ['Laüstic', 'genre', 'court literature']
    31 triples with sentences in 160.90 seconds!

processing "language of work or name" (P407) relation:
  10000 SPARQL results.
  collected 10000 triples
  sample:
    ['Grande Dizionario Enciclopedico UTET', 'language of work or name', 'Italian']
    ['Batman Family', 'language of work or name', 'English']
    ['Gnostic Apocalypse of Peter', 'language of work or name', 'Koine Greek']
    ['Samurai: Heaven and Earth', 'language of work or name', 'English']
    ['Serafino', 'language of work or name', 'Italian']
    20 triples with sentences in 16.29 seconds!

processing "depicts" (P180) relation:
An error occurred: Expecting property name enclosed in double quotes: line 166737 column 1 (char 4411975). Retrying attempt 1/10 after short wait...
Reducing LIMIT to 5000 and retrying...
  5000 SPARQL results.
  collected 5000 triples
  sample:
    ['1Q84', 'depicts', 'NHK']
    ['Abrahamic prayer', 'depicts', 'salah']
    ['Abrahamic prayer', 'depicts', 'Sayyid']
    ['Condorito', 'depicts', 'dog']
    ['BE KOBE', 'depicts', 'K']
    9 triples with sentences in 85.11 seconds!
Ontology: Politics Ontology (ont_8_politics)

processing "head of state" (P35) relation:
  244 SPARQL results.
  collected 244 triples
  sample:
    ['Andorra', 'head of state', 'Joan Enric Vives Sicília']
    ['Croatia', 'head of state', 'Zoran Milanović']
    ['Azerbaijan', 'head of state', 'Ilham Aliev']
    ['Uzbekistan', 'head of state', 'Shavkat Mirziyoyev']
    ['Liechtenstein', 'head of state', 'Hans-Adam II, Prince of Liechtenstein']
    18 triples with sentences in 5.66 seconds!

processing "head of government" (P6) relation:
  244 SPARQL results.
  collected 244 triples
  sample:
    ['Poland', 'head of government', 'Donald Tusk']
    ['Tajikistan', 'head of government', 'Kokhir Rasulzoda']
    ['Greece', 'head of government', 'Kyriakos Mitsotakis']
    ['Dominican Republic', 'head of government', 'Luis Abinader']
    ['Kenya', 'head of government', 'William Ruto']
    4 triples with sentences in 2.59 seconds!

processing "position held" (P39) relation:
An error occurred: Invalid control character at: line 62487 column 107 (char 1587853). Retrying attempt 1/10 after short wait...
Reducing LIMIT to 5000 and retrying...
An error occurred: Invalid control character at: line 54735 column 87 (char 1391423). Retrying attempt 2/10 after short wait...
Reducing LIMIT to 2500 and retrying...
  2500 SPARQL results.
  collected 2500 triples
  sample:
    ['Federico Errázuriz Echaurren', 'position held', 'President of Chile']
    ['Georges Pompidou', 'position held', 'President of the French Republic']
    ['Jacques Chirac', 'position held', 'President of the French Republic']
    ['Jorge Montt', 'position held', 'President of Chile']
    ['François Mitterrand', 'position held', 'President of the French Republic']
    200 triples with sentences in 165.91 seconds!

processing "Member of" (P463) relation:
HTTP 500 error encountered on attempt 1/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 2/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 3/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 4/10. Reducing LIMIT and retrying...
HTTP 500 error encountered on attempt 5/10. Reducing LIMIT and retrying...
  312 SPARQL results.
  collected 312 triples
  sample:
    ['Carl Linnaeus', 'Member of', 'Royal Society']
    ['Ludwig van Beethoven', 'Member of', 'Royal Netherlands Academy of Arts and Sciences']
    ['Paul Morand', 'Member of', 'Académie Française']
    ['Claude Bourgelat', 'Member of', 'French Academy of Sciences']
    ['Louis Pasteur', 'Member of', 'Royal Society']
    7 triples with sentences in 346.38 seconds!

processing "political alignment" (P1387) relation:
  3645 SPARQL results.
  collected 3645 triples
  sample:
    ['Solidarity Civic Unity', 'political alignment', 'right-wing']
    ['Croatian Growth', 'political alignment', 'right-wing']
    ['The Independents', 'political alignment', 'right-wing']
    ['League of Catalonia–Catalan Liberal Party', 'political alignment', 'right-wing']